*{
  box-sizing: border-box;
}


div {
	width: 200px;
	height: 200px;
	background-color: lightgray;
	margin: auto;
	color: white;
	font-size: 100px;
	line-height: 200px;
	text-align: center;
}

div:hover {
	/*background-image: url(blackrect.png); */
	background-position: right 400px center;
	
}

/*div:active {
	background-image: url(greenrect.png);
} */


div:after {
	content: "";
	display: block; 
	width: 200px;
	background-color: black;
	height: 200px;
	background-position: right 100px center;
	
}

div:after {
	content: "";
	display: block; 
	width: 200px;
	background-color: forestgreen;
	height: 200px;
	background-position: right 100px center;
}

/*
	font-size: 30px;
	color: white;
	position: absolute;
	left:415px;
	top: 40px;
*/

/*
.black {
	background-color: black;
	opacity: 100px;
	margin-left: 460px;
}
*/