*{
  box-sizing: border-box;
}

div {
	background-image: url(icon.svg);
  background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  display: flex;
}

h2 {
  color: white;
  text-align: center;
  line-height: 100px;
}



div:hover {
  width: 300px;
  border-radius: 50px;
  background-position: left 40px center;
}

	div:after {
		content: "BOOK";
		font-size: 30px;
		color: white;
		position: absolute;
		left:415px;
		top: 40px;
	}

